.tw-suggestions{
    background-color: #16181c;
    width: 348px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
  }
  .tw-follow-title{
    margin: 0;
    font-size: 20px;
    padding: 12px 16px 8px 16px;
  }
  
  .tw-follow-showmore{
    text-align: start ;
    padding: 10px 16px 13px 16px;
    border: 0px solid;
    color: #2a83c2;
    background-color: transparent;
    cursor: pointer;
  }
  
  .tw-follow-showmore:hover{
    background-color: rgba(29,31,35,255);
  }